<!DOCTYPE html>
<html>
<head>
	<title>EduTech</title>

	<meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Require JS Implementation Script -->

	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

	<script data-main="/scripts/config/config" src="/scripts/require/requirejs.js"></script>

	<script>
		require(['../scripts/config/config.js'], function(){
			require(['../jquery/jqueryfile']);
		});
	</script>

	<!-- Reset -->
	<link rel="stylesheet" type="text/css" href="/assets/reset.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Style CSS -->

	<link rel="stylesheet" type="text/css" href="/assets/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/about.css">

	<link rel="stylesheet" type="text/css" href="/assets/auth.css">

	<link rel="stylesheet" type="text/css" href="/assets/contact.css">

	<link rel="stylesheet" type="text/css" href="/assets/desk_action_buttons.css">

	<link rel="stylesheet" type="text/css" href="/assets/style.css">

	<link rel="stylesheet" type="text/css" href="/assets/faq.css">

	<link rel="stylesheet" type="text/css" href="/assets/footer.css">

	<link rel="stylesheet" type="text/css" href="/assets/home.css">

	<link rel="stylesheet" type="text/css" href="/assets/logo_row.css">

	<link rel="stylesheet" type="text/css" href="/assets/students_desk.css">

	<link rel="stylesheet" type="text/css" href="/assets/teachers_desk.css">

	<link rel="stylesheet" type="text/css" href="/assets/topheader.css">

	<!-- Space for Font Codes .. Currently Empty -->

</head>
<body>

<section id="container" >
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logoOnly">
		<header class="header black-bg">
	        <div class="sidebar-toggle-box">
	            <div class="fa fa-bars tooltips" data-original-title="Toggle Navigation"></div>
	        </div>
		<img  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logoImg" style="width:100px; text-align: center;" src="logo/EduTech4.png" alt="Logo" align="left" id="logo" >
		</header>
	</section>

</div>

<!-- Code below holds the main nav bar and body pages that are implemented through Handlebars pages. -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 holdBody">
	<div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                 <p class="centered"><a href="profile.html"><img src="/logo/EduTechIcon.png" class="img-circle" width="60"></a>Professor Name</p>
				</div>
			</ul>
</div>

<!-- Code in div with the class leftNav is solely for buttons intended to be shown on left payne of screen inside of main van bar. -->




	<!-- 	Div for personnel image and name as displayed on Jorges test html file -->

		<!-- sidebar menu start-->


			<!-- Div for authorization buttons. These buttons should be visible on homepage but hidden after login has been completed. -->

					<div class="row authButtons">
						<li class="mt">
							<button class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 navButton" id="registerButton">
							Register
							</button>

							<button class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 navButton" id="loginButton">
								Login
							</button>

							<button class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 navButton" id="logoutButton">
								Logout
							</button>
						</li>
					</div>

				<!-- Div row for regular page nav buttons -->

					<div class="row navButtons">
						<button id="selectRandomSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 navButton"> Random Seating </button>
				        <button id="selectAscSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 navButton"> Ascending Seating </button>
				        <button id="selectDescSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 navButton"> Descending Seating </button>
				        <button id="selectRanPart" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 navButton"> Random Participation </button>
				        <button id="selectRanGroups" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 navButton"> Random Groups </button>
					</div>
				</ul>
			</div>
		</aside>

	</div>

	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 rightBody">

		{{{ body }}}

	</div>
</div>

<!-- Code below is strictly for the footer of the app. -->

<footer id="footer1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

	<span id="copyRight"> &copy; 2016-2017 <strong> EduTech </strong> || UCF Coding Bootcamp 2016 </span>

	<br>

	<div id="footerButtons">

		<button class="btn btn-default" id="aboutET">
			About EduTech
		</button>

		<button class="btn btn-default" id="faqs">
			FAQ's
		</button>

		<button class="btn btn-default" id="contactUs">
			Connect With Us
		</button>

	</div>

</footer>

<!-- End HTML -->

</body>
</html>