
<!DOCTYPE html>
<html>



<h1 id="abouth1">About EduTech!</h1>

<div id="container">

<p id="aboutP" align="center" > EduTech was born in the classroom of the UCF Bootcamp during their Second group project and it was created by the talented group of Erik, Max, Jorge and Ibrahim. EduTech is the cultivation of their hard team work. Edu Tech: Where teacher tech is born. Here you will find technology for all of your teaching needs. Edu Tech offers a world class seating randomizer, made to help teachers with a classroom of any size. We offer teachers worldwide the ability to save time changing students seating. Made by teachers, for teachers! Many more features  Coming Soon! </p>
</div>

</html>