-
<h1 id="h1Contact">Contact EduTech!</h1>



  <div class="jumbotron" id="JumboContact" >
  <div class="form-group">
              <label for="text">Please Fill This Out!</label>
  <form>
    <div class="form-group">

    <input type="Name" class="form-control" id="exampleInputName1" placeholder="Enter Name Here!">
      </div>
        <div class="form-group">

      <input type="Email Here" class="form-control" id="exampleInputEmail" placeholder="Enter Email Here!">
    </div>



  <input type="text" name="Input" id="inputBoxC" placeholder="Enter Input Message Here!">

    <div class="btnSubmitDiv">
    <button type="submit" class="btn btn-default" id="subBut">Submit</button>
  </form>
  </div>


  <a href="http://www.github.com/nazaboy19">
<img border="0" alt="gitlink" src="logo/IbraMercado.png" width="65" height="65">

  <a href="https://github.com/ehayes90">
<img border="0" alt="gitlink" src="logo/erikLogo.png" width="65" height="65">

 <a href="https://github.com/jzarta">
<img border="0" alt="gitlink" src="logo/jorgeZartlogo2.png" width="65" height="65">

      <a href="https://github.com/lastmaxstanding">
<img border="0" alt="gitlink" src="logo/maXlogo.png" width="65" height="65">


