<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
    <div class="row">
        <button class="btn btn-default runDescSeats">
            Run
        </button>
<!--         <button class="btn btn-default clearDescSeats">
            Clear
        </button> -->
    </div>
    
    <div id="tablesLeft" class="col-xs-1 col-sm-1 col-md-2 col-lg-2 ">
        <div id="tdesk4" class="col-xm-12 col-sm-12 col-md-12 col-lg-12 teachersDesksTall forTeachers box0 box1">
            <h3> T4 </h3> 
        </div>
        <div id="tdesk5" class="col-xm-12 col-sm-12 col-md-12 col-lg-12 teachersDesksTall forTeachers box0 box1">
             <h3> T5 </h3> 
        </div>
        <div id="tdesk6" class="col-xm-12 col-sm-12 col-md-12 col-lg-12 teachersDesksTall forTeachers box0 box1">
            <h3> T6 </h3> 
        </div>
    </div>
  
    <div id="tablesCenter" class="col-xs-9 col-sm-9 col-md-8 col-lg-8">

        <div id="tdesk1" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 teachersDesksWide forTeachers box0 box1">
            <h3> T1 </h3> 
        </div>
        <div id="tdesk2" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 teachersDesksWide forTeachers box0 box1">
            <h3> T2 </h3> 
        </div>
        <div id="tdesk3" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 teachersDesksWide forTeachers box0 box1">
            <h3> T3 </h3> 
        </div>
        
        <div id="desk1" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat1 darkblue-panel darkblue-header">
            <h5> Desk 1 </h5> 
            <p class="changeColor" id="descStuD1"> </p>
        </div>
        <div id="desk2" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat2 darkblue-panel darkblue-header">
            <h5> Desk 2 </h5> 
            <p class="changeColor" id="descStuD2"> </p>
        </div>
        <div id="desk3" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 studentDesks descSeat3 darkblue-panel darkblue-header">
            <h5> Desk 3 </h5> 
            <p class="changeColor" id="descStuD3"> </p>
        </div>
        <div id="desk4" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat4 darkblue-panel darkblue-header">
            <h5> Desk 4 </h5> 
            <p class="changeColor" id="descStuD4"> </p>
        </div>
        <div id="desk5" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat5 darkblue-panel darkblue-header">
            <h5> Desk 5 </h5> 
            <p class="changeColor" id="descStuD5"> </p>
        </div>
             
        <div id="desk6" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat6 darkblue-panel darkblue-header">
            <h5> Desk 6 </h5> 
            <p class="changeColor" id="descStuD6"> </p>
        </div>
        <div id="desk7" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat7 darkblue-panel darkblue-header">
            <h5> Desk 7 </h5> 
            <p class="changeColor" id="descStuD7"> </p>
        </div>
        <div id="desk8" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 studentDesks descSeat8 darkblue-panel darkblue-header">
            <h5> Desk 8 </h5> 
            <p class="changeColor" id="descStuD8"> </p>
        </div>
        <div id="desk9" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat9 darkblue-panel darkblue-header">
            <h5> Desk 9 </h5> 
            <p class="changeColor" id="descStuD9"> </p>
        </div>
        <div id="desk10" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat10 darkblue-panel darkblue-header">
            <h5> Desk 10 </h5> 
            <p class="changeColor" id="descStuD10"> </p>
        </div>
            
        <div id="desk11" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat11 darkblue-panel darkblue-header">
            <h5> Desk 11 </h5> 
            <p class="changeColor" id="descStuD11"> </p>
        </div>
        <div id="desk12" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat12 darkblue-panel darkblue-header">
            <h5> Desk 12 </h5> 
            <p class="changeColor" id="descStuD12"> </p>
        </div>
        <div id="desk13" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 studentDesks descSeat13 darkblue-panel darkblue-header">
            <h5> Desk 13 </h5> 
            <p class="changeColor" id="descStuD13"> </p>
        </div>
        <div id="desk14" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat14 darkblue-panel darkblue-header">
            <h5> Desk 14 </h5> 
            <p class="changeColor" id="descStuD14"> </p>
        </div>
        <div id="desk15" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat15 darkblue-panel darkblue-header">
            <h5> Desk 15 </h5> 
            <p class="changeColor" id="descStuD15"> </p>
        </div>

        <div id="desk16" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat16 darkblue-panel darkblue-header">
            <h5> Desk 16 </h5> 
            <p class="changeColor" id="descStuD16"> </p>
        </div>
        <div id="desk17" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat17 darkblue-panel darkblue-header">
            <h5> Desk 17 </h5> 
            <p class="changeColor" id="descStuD17"> </p>
        </div>
        <div id="desk18" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 studentDesks descSeat18 darkblue-panel darkblue-header">
            <h5> Desk 18 </h5> 
            <p class="changeColor" id="descStuD18"> </p>
        </div>
        <div id="desk19" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat19 darkblue-panel darkblue-header">
            <h5> Desk 19 </h5> 
            <p class="changeColor" id="descStuD19"> </p>
        </div>
        <div id="desk20" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat20 darkblue-panel darkblue-header">
            <h5> Desk 20 </h5> 
            <p class="changeColor" id="descStuD20"> </p>
        </div>
            
        <div id="desk21" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat21 darkblue-panel darkblue-header">
            <h5> Desk 21 </h5> 
            <p class="changeColor" id="descStuD21"> </p>
        </div>
        <div id="desk22" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat22 darkblue-panel darkblue-header">
            <h5> Desk 22 </h5> 
            <p class="changeColor" id="descStuD22"> </p>
        </div>
        <div id="desk23" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 studentDesks descSeat23 darkblue-panel darkblue-header">
            <h5> Desk 23 </h5> 
            <p class="changeColor" id="descStuD23"> </p>
        </div>
        <div id="desk24" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat24 darkblue-panel darkblue-header">
            <h5> Desk 24 </h5> 
            <p class="changeColor" id="descStuD24"> </p>
        </div>
        <div id="desk25" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat25 darkblue-panel darkblue-header">
            <h5> Desk 25 </h5> 
            <p class="changeColor" id="descStuD25"> </p>
        </div>
             
        <div id="desk26" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat26 darkblue-panel darkblue-header">
            <h5> Desk 26 </h5> 
            <p class="changeColor" id="descStuD26"> </p>
        </div>
        <div id="desk27" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat27 darkblue-panel darkblue-header">
            <h5> Desk 27 </h5> 
            <p class="changeColor" id="descStuD27"> </p>
        </div>
        <div id="desk28" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 studentDesks descSeat28 darkblue-panel darkblue-header">
            <h5> Desk 28 </h5> 
            <p class="changeColor" id="descStuD28"> </p>
        </div>
        <div id="desk29" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat29 darkblue-panel darkblue-header">
            <h5> Desk 29 </h5> 
            <p class="changeColor" id="descStuD29"> </p>
        </div>
        <div id="desk30" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 studentDesks descSeat30 darkblue-panel darkblue-header">
            <h5> Desk 30 </h5> 
            <p class="changeColor" id="descStuD30"> </p>
        </div>
        
        <div id="tdesk7" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 teachersDesksWide forTeachers box0 box1">
            <h3> T7 </h3> 
        </div>
        <div id="tdesk8" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 teachersDesksWide forTeachers box0 box1">
            <h3> T8 </h3> 
        </div>
        <div id="tdesk9" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 teachersDesksWide forTeachers box0 box1">
            <h3> T9 </h3> 
        </div>
    
    </div>
    
    <div id="tablesRight" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div id="tdesk12" class="col-xm-12 col-sm-12 col-md-12 col-lg-12 teachersDesksTall forTeachers box0 box1">
            <h3> T12 </h3> 
        </div>
        <div id="tdesk11" class="col-xm-12 col-sm-12 col-md-12 col-lg-12 teachersDesksTall forTeachers box0 box1">
            <h3> T11 </h3> 
        </div>
        <div id="tdesk10" class="col-xm-12 col-sm-12 col-md-12 col-lg-12 teachersDesksTall forTeachers box0 box1">
            <h3> T10 </h3> 
        </div>
    </div>

</div>