<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<h1> FAQ's </h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="question">
		<div class="col-xs-12 text-center" >
			<div class="jumbotron" id="jumbotronfq">

				<p>1.What happens when I click the buttons? </p>
				<p> You go to neverland.</p>
				<p> 2. Who created EduTech?</p>
				<p> EduTech was made by the Erik Hayes, Max Ferrer, Jorge Zarta and  Morty Smith aka Ibrahim Mercado.</p>
				<p> 3. Whats special about EduTech.</p>
				<p> Edutech is designed to facilitate educators in classroom management and student interaction.  </p>
			</div>
		</div>
	</div>
</div>	