
<div class="image">
    <img src="logo/EduTech.png" id="logoHome" align="middle"></a>
</div>

<!-- <div class="container"> -->

    <div class="jumbotron">
            <p id="welcomIntro">
            Welcome To Edu Tech: Where teacher tech is born. Here you will find technology for all of your teaching needs. Edu Tech offers a world class seating randomizer, made to help teachers with a classroom of any size. We offer teachers worldwide the ability to save time changing students seating. Made by teachers, for teachers! Many more features coming soon!
        </p>

        <button class="btn btn-default" id="aboutET">
            About Edutech
        </button>

        <button id="faqs" class="btn btn-default">
            FAQ's
        </button>

    </div>

<!-- </div> -->