<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
<!--     <div id="functionButtonSide" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        
        <button id="selectRandomSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Random Seating </button>
        <button id="selectAscSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Ascending Seating </button>
        <button id="selectDescSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Descending Seating </button>
        <button id="selectRanPart" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Random Participation </button>
        <button id="selectRanGroups" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Random Groups </button>
        <button id="selectClear" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 clearRandomPart"> Clear </button>
        
    </div> -->
 
 
    <!-- <div id="desksSide" class="col-xs-12 col-sm-12 col-md-10 col-lg-10">   -->

    <div class="row">
        <button class="btn btn-default runRandomPart">
            Run
        </button>
        <button class="btn btn-default clearRandomPart">
            Reset
        </button>
    </div>

    <div class="row">
    
       <div style="font-size: 100px; text-align: center; margin-top:150px;" id="container" class="main"><center></center>
       </div>

       <br>
        
    </div>

</div>