<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
<!--     <div id="functionButtonSide" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
        
        <button id="selectRandomSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Random Seating </button>
        <button id="selectAscSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Ascending Seating </button>
        <button id="selectDescSeating" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Descending Seating </button>
        <button id="selectRanPart" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Random Participation </button>
        <button id="selectRanGroups" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12"> Random Groups </button>
        <button id="selectClear" class="btn btn-default col-xs-6 col-sm-6 col-md-12 col-lg-12 clearRandomGroups"> Clear </button>
        
    </div> -->
 
 
    <!-- <div id="desksSide" class="col-xs-12 col-sm-12 col-md-10 col-lg-10">  -->

    <div class="row">
        <button id = "g2" class="btn btn-default runRandomGroups">
            Group of 2
        </button>

        <button id="g3" class="btn btn-default">
            Group of 3
        </button>

        <button id="g4" class="btn btn-default">
            Group of 4
        </button>

        <button id="g5" class="btn btn-default">
            Group of 5
        </button>

        <button id="g6" class="btn btn-default">
            Group of 6
        </button>
        <button class="btn btn-default clearRandomGroups">
            Shuffle Groups
        </button>


    </div>
    
       <div style="font-size: 30px; margin-right: 30px; margin-top:50px;" id="groups" class="main">   
       </div>
     




        
    <!-- </div> -->

</div>