/*Used to manipulate container div that holds the {{{body}}} tag which is utalized by Handlebars.*/

.holdBody {
	margin-top: 20px;
	clear: left;
	height: 100vh
}

.leftNav {
	height: 100vh;
	background: red;
}